.marketing-site-features {
  text-align: center;
  margin: 5rem 0;

  .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  .marketing-site-features-title {
    font-size: 2.2rem;
    margin-bottom: .2rem;
    text-align: center;
  }

  .marketing-site-features-desc {
    font-size: .85rem;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  @media screen and (min-width: 40em) {
    text-align: left;
  }
}

// .marketing-site-features-headline {
//   text-align: center;
//   font-size: 24px;
// }

// .marketing-site-features-subheadline {
//   margin-bottom: 2rem;
//   text-align: center;
// }

p {
  line-height: 1.8;
}

.approach {
  background: #1D1557;
}


.circle {
  width:250px;
  height:250px;
  background: #fff;
  border-radius: 50%;
  margin:0 auto;
}

.magenta {
  border:16px solid $alt-magenta;
}

.yellow {
  border:16px solid $alt-yellow;
}

.blue {
  border:16px solid $alt-blue;
}