<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h6>The Science</h6>
    <p>Aqualung Therapeutics (ALT) is developing an anti-NAMPT therapeutic antibody to treat ventilator-induced lung injury (VILI). The use of mechanical ventilator is a life-saving breathing device for respiratory failure, but the high-tidal volume ventilation often causes further damage to the already injured lungs and can possibly lead to death.  Currently, there are no FDA-approved drugs for VILI, and our therapeutic antibody will disrupt the untapped market and address the unmet medical need.</p>
    <a href="#" class="hollow button small">learn more</a>
  </div>
</div>
<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h6>Yeti Snowcone Agency</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <a href="#" class="hollow button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" />
  </div>
</div>