<div class="marketing-site-features">
    <div class="grid-x grid-margin-x">
        <div class="large-4 medium-4 cell">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">20,000,000+</h4>
            <p class="marketing-site-features-desc">On mechanical ventilation</p>
        </div>
        <div class="large-4 medium-4 cell">
            <i class="fa fa-angellist" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">200,000</h4>
            <p class="marketing-site-features-desc">Develop acute lung injury</p>
        </div>
        <div class="large-4 medium-4 cell">
            <i class="fa fa-battery-full" aria-hidden="true"></i>
            <h4 class="marketing-site-features-title">40%</h4>
            <p class="marketing-site-features-desc">Mortality rate</p>
        </div>
    </div>
</div>
